* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #333;
    color: #333;
    line-height: 1.6;
}

/* Main Content */
main {
    text-align: center;
    padding: 0 15% 0 15%;
    background-color: #333;
}

.buttons_paginacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.buttons_paginacion_end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.buttons_paginacion div {
    margin: 0.5rem;
}

.bt_back {
    background-color: #F7A399;
    border-radius: 3rem;
    height: 3rem;
}

.bt_back img {
    height: 3rem;
}

.bt_next {
    background-color: #F7A399;
    border-radius: 3rem;
    height: 3rem;
}

.bt_next img {
    height: 3rem;
}

.div_select_cap {
    background-color: #fa877a;
    border-radius: 0.5rem;
    border: groove;
    border-color: #767676;
    width: 6rem;
    padding: 0.5rem 0 0.5rem 0;
}

.select_cap {
    background-color: #fa877a;
    /* border-color: #fa877a; */
    border: none;
    font-size: medium;
    appearance: none;
}

.div_select_pag {
    background-color: #F7A399;
    border-radius: 0.5rem;
    border: groove;
    border-color: #767676;
    width: 6rem;
    padding: 0.5rem 0 0.5rem 0;
}

.select_pag {
    background-color: #F7A399;
    border-color: #F7A399;
    font-size: medium;
}

.carga_img {
    margin: 2rem;
}

.carga_img img {
    height: 60rem;
}