/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

svg:hover{
    fill: black;
}

.login-container {
    display: flex;
    height: 100vh;
    background-color: white;
}

/* Left Side - Image */
.login-image {
    position: relative;
    flex: 1;
    background: url('../img/login.webp') no-repeat center center/cover;
}

.login-image img {
    display: none; /* Fallback for older browsers */
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Right Side - Form */
.linea-login{
    border: 0;
    height: 5px;
    width: 9%;
    background-color: #EF6351;
    margin-bottom: 2rem;
}
.linea-inputs{
    border: 0;
    height: 2px;
    width: 70%;
    background-color: #bcbcbc;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    margin-right: 35%;
}
.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
}

.login-form h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0;
    text-align: center;
}

.login-form form {
    width: 100%;
    max-width: 400px;
}

.login-form label {
    font-size: 0.9rem;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input {
    width: 100%;
    padding: 0.8rem 0.8rem 0 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    border: 0;
}

.login-form input:focus {
    border-color: #e74c3c;
}
.login-form input::placeholder {
    color: #bcbcbc;
    font-weight: bold;
}
.forgot-password {
    display: block;
    text-align: right;
    font-size: 0.85rem;
    color: #e74c3c;
    text-decoration: none;
    margin-bottom: 1rem;
    font-weight: bold;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn-login {
    width: 50%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #F38375;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 25%;
    margin-top: 2.5rem;
}

.btn-login:hover {
    background-color: #c0392b;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-image {
        height: 40vh;
    }

    .login-form {
        flex: none;
        height: auto;
    }
}
